/* base.css */

body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

ul {
    padding-left: 20px;
}

/* styles.css */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

header a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

header a:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #3498db;
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    main {
        flex-direction: column;
    }

    article, aside {
        flex: 1 1 auto;
    }

    header ul {
        text-align: center;
    }

    footer {
        text-align: center;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}
